//nexus.vc-nord.de/nexus/repository/npm/:_authToken=${NPM_TOKEN}
//nexus.vc-nord.de/nexus/repository/npm-bkw/:_authToken=${NPM_TOKEN}

strict-ssl=false
registry=https://nexus.vc-nord.de/nexus/repository/npm/

# an email is required to publish npm packages
email=smartrsa@smartrsa.ch

always-auth=true